{% extends "base.html" %}
{% block title %}{{text.title}}{% endblock %}
{% block content %}
<div class="container">
	<div class="row" style="text-white">
		<p>{{text.text}}</p>
	</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2 col-md-2 col-lg-2">
			
				<button id="setupfirewall" type="submit" class="btn btn-danger">Firewall Lab</button>
				<br><br>
				<button id="setuprouting" type="submit" class="btn btn-danger">Routing Lab</button>
				<br><br>
     		<button type="submit" id="shutdown" class="btn btn-danger">Luk Lab</button>
     	</div>
	    <div id="mynetwork" class="col-sm-10 col-md-10 col-lg-10" style="background-color: #AAAAAA">
			</div>
    </div>
   </div>
  </div>
	<script>
    var network;
    var nodes = new vis.DataSet();
    var edges = new vis.DataSet();

    $.getJSON('getnet', redrawAll);
    // create a network
    var container = document.getElementById('mynetwork');
    var data = {
        nodes: nodes,
        edges: edges
    };

        var options = {
        interaction: {hover:true},
        nodes: {
            shape: 'circle',
            size: 30,
            font: {
                size: 17
            },
            borderWidth: 2,
            shadow:true
        },
        edges: {
            width: 2,
            shadow:true
        }
    };


    var network = new vis.Network(container, data, options);

    network.on("doubleClick", function (params) {
               $.ajax({
                   type: "POST",
                   url: "runshark",
                   data: { "pid" : params["nodes"]}
               });
            });



    function redrawAll(data) {

        console.log(data)

        nodes.clear();
        edges.clear();

        nodes.add(data.nodes);
        edges.add(data.edges);

        var is_mitm = false;
        var is_vic2 = false;


        var ids = nodes.getIds();
        console.log(ids);

        var items = nodes.get({
            fields: ['label'],
            });

        //go through to see what is running
        console.log(items);
        $.each(items, function(index, value) {
            console.log(value.label);
            if (value.label == "vic3") {
                is_mitm = true;
            } else if (value.label == "vic2") {
                is_vic2 = true;
            } else if (value.label == "elk") {
                is_elk = true;
            } else if (value.label == "wifi") {
                is_wifi = true;
            } else if (value.label == "sploit") {
                is_sploit = true;
            };

        });


        console.log(is_ips);
        {% for lab in ('vic2', 'mitm', 'ips', 'sploit', 'elk', 'wifi') %}
            if (nodes.length > 2 && !({{ 'is_' ~ lab }})) {
                $("{{'button#' ~ lab}}").prop('disabled', false);
            } else {
                $("{{'button#' ~ lab}}").prop('disabled', true);
            };


        {% endfor %}



        network.fit();
        $('#setupmodal').modal('hide');
        $('#shutdownmodal').modal('hide');

    	};


       $(function() {
           $('button#setupfirewall').click(function(){
							$('#setupmodal').modal('show');
              $.get('setupfirewall')
              	.always(function(data) {
		              $('button#setupfirewall').text(data);
		              $.getJSON('getnet', redrawAll);
              });              
              
            });
        });
        
        $(function() {
           $('button#setuprouting').click(function(){
							$('#setupmodal').modal('show');
              $.get('setuprouting')
              	.always(function(data) {
		              $('button#setuprouting').text(data);
		              $.getJSON('getnet', redrawAll);
              });              
              
            });
        });


       $(function() {
           $("button#shutdown").click(function(){
              $('#shutdownmodal').modal('show');
 	            $.get('shutdown')
 	            	.always(function(data){
 	            		$('button#setupfirewall').text('Firewall Lab');
 	            		$.getJSON('getnet', redrawAll);})

            });
        });
    </script>
    {% endblock %}
  </body>
</html>